.icon {
  width: 10px;
  height: 10px;
  margin: 6px 0px 0px 0px;
}

.social-icon {
  width: 30px;
  height: 30px;
  // margin: 6px 0px 0px 0px;
}

.re-container {
  display: flex;
  // border: 1px solid crimson;
  flex-direction: column;
  flex-wrap: wrap;
}

.re-main {
  display: flex;
  // border: 1px solid tan;
}

.re-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.re-contact-img {
  margin: 0 auto;
  padding: 10px 20px;
}

.re-personal-info {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.re-contact-name {
  font-weight: bold;
  font-size: 30px;
  align-self: center;
}

.re-contact-address {
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.re-phone {
  align-self: center;
}

.re-skill-sidebar {
  width: 300px;
  order: 1;
  // border: 1px solid lawngreen;
  display: flex;
  flex-direction: column;
}

.re-skill-row {
  display: flex;
}

.re-skill-type {
  margin: 5px 10px;
  width: 80px;
}

.re-skill-rating {
  margin: 8px 10px;
  width: 80px; 
}

.re-exp-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  order: 2;
  // border: 1px solid blue;
}

.re-exp-details {
  display: flex;
  flex-direction: column;
  // border: 1px solid maroon;
}

.re-exp-org-details {
  display: flex;
  margin: 4px 10px;
  justify-content: space-between;
}

.re-exp-designation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  margin: 4px 10px;
  padding-bottom: 4px;
}
.re-org-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  width: 60%;
  padding-bottom: 7px;
}

.re-exp-org-duration {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  margin: 0 10px;
}

.re-exp-description {
  margin: 0 10px;
  padding-bottom: 5px;
  text-align: justify;
}

.re-social-footer {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-content: center;
  // border: 1px solid violet;
}

.re-social-github {
  margin: 0px 20px
}

.re-social-linkedin {
  margin: 0px 20px
}

.re-social-twitter {
  margin: 0px 20px
}

.re-social-instagram {
  margin: 0px 20px
}



@media only screen and (max-width : 480px) {
  .re-skill-sidebar {
    width: 100%;
  }

  .re-skill-type {
    margin: 0 auto;
  }

  .re-skill-rating {
    width: 100%;
  }
  .re-info-container {
    flex-direction: column;
    width: 100%;
  }
  .re-skill-row {
    flex-direction: column;
    width: 100%;
    padding: 0 80px;
  }
  .re-main {
    flex-direction: column;
  }
  .re-exp-section {
    width: 100%;
  }
}